@import "variables";

.Footer {
  background-color: $darkest-color;
  background-image: linear-gradient(to bottom right, lighten($darkest-color, 5), $darkest-color);
  padding: 40px 15px;

  div {
    margin: 15px auto;

    &:first-child {
      img {
        width: 50px;
      }
    }
  }



  .social-media {
    max-width: 200px;
    display: flex;
    justify-content: space-evenly;
  }

}