@import "variables";

.Skills {
  padding: 80px 15px;
  background-color: $darker-color;
  margin-bottom: -80px;

  .card {
    border: 2px solid $normal-color;
    background-color: $darkest-color;
    border-radius: 25px;
    margin-top: -140px;
    padding: 0px 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    // align-content: center;

    h5 {
      margin-bottom: 5px;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .item {
        border: 2px solid $normal-color;
        border-radius: 5px;
        padding: 4px 8px;
        display: flex;
        margin: 5px 5px;
        width: 40%;

        svg {
          width: 20px;
          margin-right: 5px;
        }

        span {
          line-height: 24px;
        }
      }
    }
  }
}